/*==============================================================================
// File:        _fancy.scss
// Synopsis:    Main Fancy Styles, Animations & reusable items - SASS
//============================================================================*/

.page-enter-active, .page-leave-active {
  transition: all .5s;
  opacity: 1;


  .pageContent{
    transition: all .3s ease-in-out;
    opacity: 1;
    transform: translateY(0px);  
  }

  .koda-hero{
    transition: all 0.3s ease-in-out;
    transform: translateY(0px); 
  }
 }

.page-enter, .page-leave-active { 
  opacity: 0;
  
  .pageContent{
    opacity: 0;
    transform: translateY(100%); 
  }

 .koda-hero{
    transform: translateY(-100%); 
 }
}