/*==============================================================================
// File:        _layouts.scss
// Synopsis:    Main Layouts Styles - SASS
//============================================================================*/

.pageContent{
  margin-top: 68px;
  min-height: 80vh;
}

.pageContent .pagePadding{
  padding-top: 50px;
  padding-bottom: 50px;
}

.pageContent .pagePadding--no-breadcrumb{
  padding-bottom: 50px;
}

html, body{
  overflow-x: hidden;
  width: 100%;
  background-image: url(/images/background.webp);
  background-attachment: fixed;
}