.img-circle{
    border-radius: 50vw;
}

.bg-primary{
    background-color: $koda-primary !important;
}
.bg-secondary{
    background-color: $koda-secondary !important;
}
.bg-tertiary{
    background-color: $koda-tertiary !important;
}
.bg-quaternary{
    background-color: $koda-quaternary !important;
}
.bg-alternate{
    background-color: $koda-alternate !important;
}
.bg-dark{
    background-color: $koda-dark !important;
}
.bg-mid{
    background-color: $koda-mid !important;
}
.bg-light{
    background-color: $koda-light !important;
}

.bg-black{
    background-color: $koda-black !important;
}
.bg-white{
    background-color: $koda-white !important;
}

.text-primary{
    color: $koda-primary !important;
}
.text-secondary{
    color: $koda-secondary !important;
}
.text-tertiary{
    color: $koda-tertiary !important;
}
.text-quaternary{
    color: $koda-quaternary !important;
}
.text-alternate{
    color: $koda-alternate !important;
}
.text-dark{
    color: $koda-dark !important;
}
.text-mid{
    color: $koda-mid !important;
}
.text-light{
    color: $koda-light !important;
}
.text-black{
    color: $koda-black !important;
}
.text-white{
    color: $koda-white !important;
}
