.koda-breadcrumbs{
  position: absolute;
  top: 68px;
  left: 0px;
  right: 0px;
  z-index: 100;
  background: rgba($koda-black, 0.5);
  backdrop-filter: blur(20px);
  font-family: $secondary-font;
  font-weight: 700;
  text-transform: uppercase;

  ol {
    list-style: none;
    padding: 5px;
  }
  li {
    display: inline;
    
  }
  li:after {
    content: " » ";
    display: inline;
    color: #aaa;
    padding: 0 0.0725em 0 0.15em;
  }
  li:last-child:after {
    content: "";
  }
  li a span {
    color: $koda-white;
    font-size: 13px; 
   }
  li a.nuxt-link-exact-active.nuxt-link-active span {
    color: $koda-light;
  }
}
